extends layout

block content
    h1 Criar Exercicio
      form#uploadForm(ref='uploadForm', action='/scripts/upload', method='post', enctype='multipart/form-data')
        input(type='file', name='sampleFile')
        input(type='submit', value='Upload!')

